<% layout("layouts/boilerplate") %>
<h1>ログイン</h1>
<form action="/login" method="POST" class="validated-form" novalidate>
    <div class="mb-3">
        <label for="username" class="form-label">ユーザー名:</label>
        <input class="form-control" type="text" id="username" name="username"required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">パスワード:</label>
        <input class="form-control" type="password" id="password" name="password"required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <button class="btn btn-success">ログイン</button>
</form>